/*
.top-div{
	background:red;
	width: 20px;
	height: 20px;
	border: 1px solid;
	border-color:#000;
}*/

.header{    /*html5新标签*/
	z-index: 3;
	position: relative;
	padding-top: 25px;
	padding-bottom: 40px;
	background-color:#fff;
	background-clip: padding-box;
	border-bottom: 1px solid rgba(0,0,0,0.075);
	margin-bottom: -1px;  
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
	background-color:rgba(22,222,255,1.00);
}

.nav-div{
	padding-left: 200px;
	display: block;
}
.site-header-nav{
	float: left;
	margin-left: 5px;
}
a{
	text-decoration: none;
	color:#000;
	font-size: 25px;
}
.nav-a-first{
	font-family: arial ,georgia , verdana , helvetica;
}
.nav-a-second{
	padding-left: 30px;	
	font-family: arial ,georgia , verdana , helvetica;
}
.nav-a-third{
	padding-left: 30px;	
	font-family: arial ,georgia , verdana , helvetica;
}
.nav-a-fourth{
	padding-left: 30px;	
	font-family: arial ,georgia , verdana , helvetica;
}
.nav-span-welcome{
	position:absolute;
	float:left;
	padding-left:300px;
	font-size: 30px;
	font-family: georgia;
}
.main-div{
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	width: 1150px;
	height: auto;
	border-width: 1px;
	border-color:#fff;
}
.main-div-article{
	font-size:20px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.main-article-img{
	width:500px;
	height:300px;
	border:solid;
}